# Credenciales de la base de datos
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Credenciales para envio de e-mails
EMAIL_FROM=
EMAIL_PASS=
EMAIL_TO=
EMAIL_SERVER=
EMAIL_PORT=

# Contraseña para encriptar el JWT
SECRET_KEY=
CRYPT_ALGORITHM=